* {
    box-sizing: border-box;
}

.navbar-home {
    background-color: #F7F9FC !important;
}

.image-bg {
    background: #FFF;
    border-radius: 50%;
}

.navbar-logo {
    background-color: #0973620A;
    border-radius: 2px;
}

.nav-item {
    width: 40px;
    height: 40px;
    text-align: center;
}

.profile-dropdown {
    background-color: #DBE2E9;
    border-radius: 50%;
}

.notification {
    width: 15px;
    height: 15px;
    text-align: center;
}